body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* ----------------------------------------------- */
/* ---------- SIGN IN ---------- */
.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-in__wrapper form {
  width: 24rem;
  max-width: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

.sign-in__wrapper form img {
  width: 4rem;
}

@keyframes showSignInForm {
  0%,
  30% {
    transform: translate(0, -150%);
  }
  70%,
  90% {
    transform: translate(0, 1rem);
  }
  80%,
  100% {
    transform: translate(0, 0);
  }
}

.justify-content-center {
  margin-top: 2vh !important;
}

.custome-form,
.justify-content-center,
.custome-form-g,
.custome-col {
  width: 100% !important;
}

.register-col,
.justify-content-center,
.custome-form-g,
.custome-col {
  width: 100% !important;
}

.custome-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.custome-input-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.custome-form-g label {
  margin: auto;
  width: 68%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.form-control-input {
  /* background-color: red !important; */
  align-self: center;
  margin: auto;
  width: 70% !important;
}

.login-reg-btn {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.register-reg-btn {
  margin-top: 20%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.login-reg-btn .custome-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7rem !important;
  max-width: 7rem !important;
}

.register-reg-btn .custome-btn {
  /* padding: 0 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7rem !important;
  max-width: 7rem !important;
}

.form-grp {
  margin-top: 10vh;
}

.Time {
  margin-top: 10vh;
}

.container {
  overflow-y: scroll;
  width: 95vw !important;
  height: 85vh;
  border-radius: 8px;
  margin-top: 4vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    width: 70vw !important;
    height: 80vh;
    border-radius: 8px;
    /* margin-top: 4vh; */
    margin-left: 4vw;
    border: 2px solid black;
  }
}

.container1 {
  border: 1px solid black;
  /* margin: 0vw 15vw 0vw 15vw; */
  min-width: 600px;
  max-width: 600px;
  height: 70%;
  border-radius: 2vw;
}
/* /Register Page Container Border/ */
.container-register {
  border: 1px solid black;
  min-width: 600px;
  max-width: 600px;
  height: 90% !important;
  border-radius: 2vw;
}

.login-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1280px) {
  .container1 {
    height: 60%;
  }
  .container-register {
    height: 80%;
  }
}

@media (max-width: 1260px) {
  .register-section {
    height: 120vh !important;
  }
  .register-msg {
    margin-left: 7vw !important;
  }
}

/* For 4k screen */
@media (min-width: 2778px) {
  .container1 {
    height: 50%;
  }
  .container-register {
    height: 50%;
  }
}

@media (max-width: 450px) {
  .container1 {
    height: 80%;
  }

  .login-reg-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-control-input::placeholder {
    font-size: 0.8rem;
  }
  .container-register {
    height: 98% !important;
    /* background-color: yellow; */
  }
  .register-msg {
    margin-left: 10vw !important;
  }

  .register-reg-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-section {
    height: 129vh !important;
  }
}

@media (max-width: 370px) {
  .container-register {
    height: 98% !important;
    /* background-color: lightblue; */
  }
  .register-reg-btn {
    gap: 0.6rem;
  }
  .register-fields {
    /* background-color: pink; */
    gap: 0.6rem;
  }
  .register-section {
    height: 129vh !important;
  }
}

@media (max-width: 768px) {
  .container1 {
    border: 1px solid black;
    min-width: 70%;
    max-width: 70%;
    border-radius: 2vw;
  }

  .container-register {
    border: 1px solid black;
    min-width: 70%;
    max-width: 70%;
    border-radius: 2vw;
  }
  .register-msg {
    margin-left: 9vw !important;
  }

  .register-section {
    height: 120vh !important;
  }
}

.container-home {
  border: 1px solid black;
  margin: 0vw 15vw 0vw 15vw;
  width: 37vw;
  border-radius: 2vw;
  margin-left: 30vw;
  padding: 3vh;
  margin-top: 7vh;
}

@media (max-width: 768px) {
  .container-home {
    border: 1px solid black;
    margin: 0vw 15vw 0vw 15vw;
    width: 70vw;
    border-radius: 2vw;
    margin-left: 17vw;
    padding: 3vh;
    margin-top: 7vh;
  }
}

.register-section {
  height: 100vh;
  width: 95vw;
  /* background-color: #0095f8; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 565px) and (max-width: 730px) {
  .justify-content-center .register-reg-btn {
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
  }
}

/* .container-register {
  height: 80vh !important;
  border: 1px solid black;
  width: 37vw;
  border-radius: 2vw;
} */

.attendance-box {
  width: 15vw;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 6vw;
}

@media (max-width: 768px) {
  .attendance-box {
    width: 40vw;
  }
}

table {
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Admin Page CSS */
.container .admin-btn {
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  margin-left: 5rem;
}

.admin-section {
  height: 5vh;
  width: 25vw;
  border: 2px solid black;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}
@media (max-width: 768px) {
  .admin-section {
    height: 5vh;
    width: 50vw;
    border: 2px solid black;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }

  #container-admin a {
    margin-left: 1.5rem !important;
  }
}

@media (min-width: 770px) {
  #container-admin a {
    margin-left: 1.5rem !important;
    width: 25vw !important;
  }
}

#container-admin a {
  margin-left: 1.5rem !important;
}

/* My Profile Page CSS */
.myprofile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  background-color: pink;
  height: 60vh;
  width: 40vw !important;
  overflow: auto;
}

.my-prof-h2 {
  margin-top: -100px;
}

@media (max-width: 1480px) {
  .register-msg {
    margin-left: 19vw;
    color: white;
    /* border: 1px solid pink; */
  }
}

/* Register page input bold when not filled  */
.error-input {
  border: 2px solid red !important;
}

.report-section-table-head tr th {
  color: white !important;
}
